<a href="https://colab.research.google.com/github/nickzzss/python/blob/main/aula_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**aula 1** ü§î üí™ ‚úä

In [ ]:
print("I competi√ß√£o de programa√ß√£o da Start")
ano = "II"
print(f"{ano} compreti√ß√£o de programa√ß√£o da Start")

I competi√ß√£o de programa√ß√£o da Start
II competi√ß√£o de programa√ß√£o da Start

#**aula 2** ‚õî ‚úä üî•

In [7]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
pontos_ana = 2 * livro_ficcao + 5 * livro_infantil
pontos_totais = pontos_rodrigo + pontos_ana
print(f"Os pontos totais do Rodrigo s√£o {pontos_rodrigo}")
print(f"Os pontos totais de Ana s√£o {pontos_ana}")
print(f"Os pontos totais do Rodrigo e de Ana s√£o {pontos_totais}")

Os pontos totais do Rodrigo s√£o 24
Os pontos totais de Ana s√£o 46
Os pontos totais do Rodrigo e de Ana s√£o 70

#**aula 3 tabuada** ü§™ üòû ü§ü

In [10]:
def tabuada(numero):
    for contador in range(1, 11):  # Gera n√∫meros de 1 a 10
        print(f"{numero} x {contador} = {numero * contador}")
numero = int(input("Digite um n√∫mero para ver sua tabuada: "))
tabuada(numero)

Digite um n√∫mero para ver sua tabuada: 100000000000000
100000000000000 x 1 = 100000000000000
100000000000000 x 2 = 200000000000000
100000000000000 x 3 = 300000000000000
100000000000000 x 4 = 400000000000000
100000000000000 x 5 = 500000000000000
100000000000000 x 6 = 600000000000000
100000000000000 x 7 = 700000000000000
100000000000000 x 8 = 800000000000000
100000000000000 x 9 = 900000000000000
100000000000000 x 10 = 1000000000000000